.vs/personapi-dotnet/FileContentIndex/f58cda71-5331-486d-8043-80d39dd62b95.vsidx
.vs/personapi-dotnet/FileContentIndex/bbd50b99-8873-4a1a-a1e4-06ba8f4c0dfc.vsidx
.vs/personapi-dotnet/FileContentIndex/9fa4561d-fba3-4274-9a0b-bf5aa5dddd1d.vsidx
.vs/personapi-dotnet/FileContentIndex/8e5e9046-f968-4d42-ab97-a6d6ea55b0b7.vsidx
.vs/personapi-dotnet/FileContentIndex/54035d8c-3c54-4fa3-869b-b1592ffe4d30.vsidx
.vs/personapi-dotnet/FileContentIndex/4b43005a-90ef-4f53-9bcf-eb696ce0cbe3.vsidx
.vs/personapi-dotnet/FileContentIndex/40fef40f-0521-4f7c-bcad-468756b7bd82.vsidx
.vs/personapi-dotnet/FileContentIndex/2a4c20e6-56d3-4631-a523-896597cbb9b5.vsidx
.vs/personapi-dotnet/FileContentIndex/0d990b2c-29a8-4943-a2d9-a4399caaa6f5.vsidx
*.vsidx
