@model personapi_dotnet.Models.Entities.Persona

<h1>Registro De Nueva Persona</h1>

<form asp-action="Add" asp-controller="Persona" method="post">
    <div class="form-group">
        <label for="Cc">Cédula</label>
        <input type="number" class="form-control" id="Cc" name="Cc" required />
    </div>

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" required />
    </div>

    <div class="form-group">
        <label for="Apellido">Apellido</label>
        <input type="text" class="form-control" id="Apellido" name="Apellido" required />
    </div>

    <div class="form-group">
        <label for="Genero">Genero</label>
        <input type="text" class="form-control" id="Genero" name="Genero" required />
    </div>

    <div class="form-group">
        <label for="Edad">Edad</label>
        <input type="text" class="form-control" id="Edad" name="Edad" required />
    </div>

    <button type="submit" class="btn btn-primary">Registrar Persona</button>
</form>