@model List<personapi_dotnet.Models.Entities.Persona>

    <h1>Personas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
    </tbody>
    </table>